{% extends 'base.html' %}

{% block content %}
<h2>Пользователи</h2>
<div class="container-sm">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">last_name</th>
            <th scope="col">first_name</th>
            <th scope="col">middle_name</th>
            <th scope="col">role</th>
            <th scope="col">created_at</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr data-user-id="{{ user.id }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{% if user.middle_name %} {{ user.middle_name }} {% endif %}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        {% if current_user.is_authenticated  %}
                        <div class="d-flex flex-row justify-content-end gap-3">
                            {% if current_user.role == 'admin' %}
                            <a class="btn btn-primary" href="{{ url_for('users.show', user_id=user.id) }}">Просмотр</a>
                            <a class="btn btn-primary" href="{{ url_for('users.edit', user_id=user.id) }}">Редактировать</a>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" 
                                data-user-id="{{ user.id }}">Удалить</button>
                            {% elif current_user.user_login == user.username %}
                            <a class="btn btn-primary" href="{{ url_for('users.show', user_id=user.id) }}">Просмотр</a>
                            <a class="btn btn-primary" href="{{ url_for('users.edit', user_id=user.id) }}">Редактировать</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if current_user.is_authenticated  %}
        {% if current_user.role == 'admin' %}
        <a class="btn btn-primary" href="{{ url_for('users.new') }}">Добавить пользователя</a>
        {% endif %}
    {% endif %}
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление учётной записи</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить пользователя <p class="d-inline-block mb-0"></p>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <form method="post" id="deleteModalForm">
                    <button class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='user_delete_modal.js') }}"></script>
{% endblock %}
{% endblock %}