{% extends 'base.html' %}

{% block content %}
<form method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="exampleInputPassword1">Старый пароль</label>
        <input type="password" class="form-control {{ 'is-invalid' if errors.old_password }}" id="exampleInputPassword1" name="old_password" value="{{request.form.get('old_password') or ''}}">
        <div class="invalid-feedback">
            {{ errors.old_password }}
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2">Новый пароль</label>
        <input type="password" class="form-control {{ 'is-invalid' if errors.new_password }}" id="exampleInputPassword2" name="new_password" value="{{request.form.get('new_password') or ''}}">
        <div class="invalid-feedback">
            {{ errors.new_password }}
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword3">Подтвердите новый пароль</label>
        <input type="password" class="form-control {{ 'is-invalid' if errors.confirm_new_password }}" id="exampleInputPassword3" name="confirm_new_password">
        <div class="invalid-feedback">
            {{ errors.confirm_new_password }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сменить пароль</button>
</form>

{% if error %}
<span>{{ error }}</span>
{% endif %}

{% endblock %}