{% extends 'base.html' %}

{% block content %}
    <h1>Просмотр записи</h1>
    <table class="table">
        <tbody>
            <tr>
                <td>id</td>
                <td>{{ user.id }}</td>
            </tr>   
            <tr>
                <td>login</td>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <td>last_name</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>first_name</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>middle_name</td>
                <td>{{ user.middle_name or '' }}</td>
            </tr>
            <tr>
                <td>role_name</td>
                <td>{{ role.name }}</td>
            </tr>
            <tr>
                <td>created_at</td>
                <td>{{ user.created_at }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}