{% extends 'base.html' %}

{% block content %}
    <h1>Список пользователей</h1>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <!--<th scope="col">login</th>-->
                    <th scope="col">last_name</th>
                    <th scope="col">first_name</th>
                    <th scope="col">middle_name</th>
                    <th scope="col">role</th>
                    <!--<th scope="col">created_at</th>-->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr data-user-id="{{ user.id }}">
                        <th scope="row">{{ user.id }}</th>
                        <!--<td>{{ user.login }}</td>-->
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{% if user.middle_name %} {{ user.middle_name }} {% endif %}</td>
                        <td>{{ user.role_name }}</td>
                        <!--<td>{{ user.created_at }}</td>-->
                        <td>
                            {% if current_user.is_authenticated  %}
                                <div class="d-flex flex-row justify-content-end gap-3">
                                    {% if current_user.role == 'admin' %}
                                        <a class="btn btn-primary" href="{{ url_for('users.show', user_id=user.id) }}">Просмотр</a>
                                        <a class="btn btn-primary" href="{{ url_for('users.edit', user_id=user.id) }}">Редактирование</a>
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" 
                                            data-user-id="{{ user.id }}">Удаление</button>
                                    {% elif current_user.login == user.login %}
                                        <a class="btn btn-primary" href="{{ url_for('users.show', user_id=user.id) }}">Просмотр</a>
                                        <a class="btn btn-primary" href="{{ url_for('users.edit', user_id=user.id) }}">Редактирование</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if current_user.is_authenticated  %}
            {% if current_user.role == 'admin' %}
                <a class="btn btn-primary" href="{{ url_for('users.new') }}">Создание пользователя</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление записи</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить пользователя <p class="d-inline-block mb-0"></p>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                    <form method="post" id="deleteModalForm">
                        <button class="btn btn-danger">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='user_delete_modal.js') }}"></script>
    {% endblock %}
{% endblock %}
