{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <h1>Журнал посещений</h1>
    <div class="container-sm">
        <div class="row">
            <div class="mb-3 col-md-6">
                <form method="post" class="w-25">
                    <label for="entries_count">Записей на странице: </label>
                    <select name="per_page" class="form-select" id="entries_count" data-page="{{ page }}">
                        {% for index in range(3) %}                        
                            <option value="{{loop.index * 5 + 5}}" {{ 'selected' if per_page == loop.index * 5 + 5 }}> {{loop.index * 5 + 5}} </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="col-md-3 mb-3 align-content-end">
                <a href="{{url_for('reports.pages')}}" class="btn btn-primary float-end">Отчёт по страницам</a>
            </div>
            <div class="col-md-3 mb-3 align-content-end">
                <a href="{{url_for('reports.users')}}" class="btn btn-primary float-end">Отчёт по пользователям</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Страница</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <th scope="row">{{ log.id }}</th>
                        
                        {% if log.user_id == None %}
                            <td>Неаутентифицированный пользователь</td>
                        {% else %}
                            {% set FIO = log.last_name ~ ' ' ~ log.first_name ~ ' ' %}
                
                            {% if log.middle_name != None %}
                                {% set FIO = FIO ~ log.middle_name %}
                            {% endif %}

                            <td>{{ FIO }}</td>
                        {% endif %}

                        <td>{{ log.path }}</td>
                        <td>{{ log.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center flex-wrap">
                <li class="page-item {{'disabled' if page == 1 }}">
                    <a class="page-link" href="{{ url_for('users.visitor_log') }}?per_page={{per_page}}&page={{page - 1}}">
                        Previous
                    </a>
                </li>
            
                {% if page > 3 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('users.visitor_log') }}?per_page={{per_page}}&page=1">1</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            
                {% for page_ind in range([1, page-2]|max, [page+3, (total_count // per_page + 1) + 1]|min) %}
                    <li class="page-item {{'active' if page_ind == page }}">
                        <a class="page-link" href="{{ url_for('users.visitor_log') }}?per_page={{per_page}}&page={{page_ind}}">
                            {{ page_ind }}
                            {% if page_ind == page %}<span class="sr-only"></span>{% endif %}
                        </a>
                    </li>
                {% endfor %}
            
                {% if page < (total_count // per_page + 1) - 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('users.visitor_log') }}?per_page={{per_page}}&page={{total_count // per_page + 1}}">
                            {{ total_count // per_page + 1 }}
                        </a>
                    </li>
                {% endif %}
            
                <li class="page-item {{'disabled' if page == total_count // per_page + 1 }}">
                    <a class="page-link" href="{{ url_for('users.visitor_log') }}?per_page={{per_page}}&page={{page + 1}}">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='change_entries_number.js') }}"></script>
    {% endblock %}

{% endblock %}